@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

body {
    font-family: 'Encode Sans', sans-serif;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px 20px;
    background-color: #393986;
    color: #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.pokemon-name {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #ddd;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.center-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ddd;
}

.center-right {
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: #ddd;
    margin-left: 20px;
}

.pokemon-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid #1f1f1f;
}

.pokemon-number {
    font-size: 1.0em;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ddd;
}

.pokemon-types {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

.type {
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px;
    text-transform: capitalize;
    font-weight: bold;
    background-color: #292929;
    color: #ddd;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    gap: 55px;
    background-color: #292929;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.stats-left,
.stats-right {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ddd;
}

.stats-left-title,
.stats-right-title {
    font-size: 1.3em;
    margin-bottom: 1px;
    text-align: center;
    color: #ddd;
}

.stats-left p,
.stats-right p {
    text-align: center;
    margin: 4px 0;
    margin-left: 8px;
}

.bottom-row {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center; /* Center the elements horizontally */
    align-items: center; /* Center the elements vertically */
}

.nav-button,
.back-button {
    font-family: 'Encode Sans', sans-serif;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button:hover,
.back-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.nav-button:active,
.back-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.back-button-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    margin-top: 20px;
}

.back-button {
    margin: auto;
}
