@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

body {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
    color: #7fb521;
    font-family: 'Encode Sans', sans-serif;
}

.pokemon-list-container {
    font-family: 'Encode Sans', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
    background-color: #6161b8;
    color: #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    min-height: 100vh;
}

.pokemon-list-container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 95%;
    height: 100vh;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: -1;
    border-radius: 8px;
}

.filters {
    font-family: 'Encode Sans', sans-serif;
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
    text-align: center;
}

.filters label {
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    margin-right: 3px;
    font-weight: bold;
    color: white;
}

.filters select {
    font-family: 'Encode Sans', sans-serif;
    padding: 3px 6px; 
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #292929;
    color: white;
    transition: background-color 0.3s ease;
    text-align: center;
}

.filters select:hover {
    background-color: #0056b3;
}

table {
    font-family: 'Encode Sans', sans-serif;
    width: 70%; 
    border-collapse: collapse;
    margin: 0 auto 15px auto; 
    background-color: white;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #0056b3;
    color: #fff;
    padding: 6px; 
    cursor: pointer;
    text-align: left;
}

.sort-arrow {
    margin-left: 3px; 
}

tbody tr:nth-child(even) {
    background-color: #124378;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #0056b3;
    text-align: center;
}

tbody tr:hover {
    background-color: #121165;
}

th,
td {
    padding: 4px; 
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th:not(:last-child) {
    border-right: 1px solid #d8d8d8; 
}

td {
    height: 30px; 
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 10px; 
    font-weight: bold;
}

.pagination button {
    font-family: 'Encode Sans', sans-serif;
    padding: 8px 16px;
    margin-right: 2px; 
    background-color: #292929;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination .active {
    background-color: #0056b3;
}

h1 {
    font-family: 'Encode Sans', sans-serif;
    color: white;
    text-align: center;
    margin: 5px 0;
    font-size: 1.5rem; 
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.search-filter-container {
    text-align: center;
    margin-bottom: 5px;
}

.search-label,
.filter-label {
    font-family: 'Encode Sans', sans-serif;
    margin-left: 20px;
    color: white;
}

.search-input,
.filter-select {
    font-family: 'Encode Sans', sans-serif;
    padding: 5px; 
    font-size: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-input:focus,
.filter-select:focus {
    outline: none;
    border-color: #007bff;
}

.page-link {
    margin: 0 2px; 
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
    font-family: 'Encode Sans', sans-serif;
}

.page-link:hover {
    text-decoration: underline;
}

.page-link.active {
    text-decoration: underline;
}

.spacer {
    height: 5px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: opacity 0.3s, transform 0.3s;
}

.scroll-to-top-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.scroll-to-top-button.show {
  opacity: 1;
  transform: translateY(0);
}

.scroll-to-top-button:hover {
  transform: translateY(-5px);
}

.type {
    display: inline-block;
    padding: 2px 6px;
    margin: 0 4px;
    border-radius: 4px;
    font-size: 0.85em;
    color: white;
}

.normal { background-color: #A8A878; color: white; }
.fire { background-color: #F08030; color: white; }
.water { background-color: #6890F0; color: white; }
.electric { background-color: #F8D030; color: black; }
.grass { background-color: #78C850; color: white; }
.ice { background-color: #98D8D8; color: black; }
.fighting { background-color: #C03028; color: white; }
.poison { background-color: #A040A0; color: white; }
.ground { background-color: #E0C068; color: black; }
.flying { background-color: #A890F0; color: black; }
.psychic { background-color: #F85888; color: black; }
.bug { background-color: #A8B820; color: white; }
.rock { background-color: #B8A038; color: black; }
.ghost { background-color: #705898; color: white; }
.dragon { background-color: #7038F8; color: white; }
.dark { background-color: #705848; color: white; }
.steel { background-color: #B8B8D0; color: black; }
.fairy { background-color: #EE99AC; color: black; }